/* .content {
  padding: 0 5px;
}

ons-input {
  border: 1px solid #ccc !important;
  border-radius: 6px !important;
  padding: 0 5px !important;
  width: 5rem !important;
  background: #fefefe;
} */
